# Core application framework
chainlit

# LangChain and LangGraph components
langchain
langgraph
langchain-google-genai
langchain-anthropic
langchain-community
langchain-huggingface
langchain-nvidia-ai-endpoints
langchain-postgres
langchain-tavily
langgraph-checkpoint-postgres

# Vector store and DB
pgvector
asyncpg
SQLAlchemy

# ML Models & Embeddings
sentence-transformers
torch
transformers

# Utilities
python-dotenv
httpx
fastapi
uvicorn
pydantic
pandas
langsmith
unidecode